body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #333;
}

canvas {
    border: 2px solid #333;
    margin: 20px auto;
    display: block;
}


button {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 43%; /* Adjust as needed */
    transform: translateY(-50%); /* Centers vertically */
}

button:hover {
    background-color: #ff3300;
}


